
singularity.enabled = true

workDir = "/fs/scratch/PCON0160/"

executor {
    name = 'slurm'
    queueSize = 100
    submitRateLimit = '1/1s'
}

process {

    withLabel : 'low' {
        executor = 'slurm'
        container = 'smrnaseq_latest.sif'
        clusterOptions = "--account=PCON0160 --nodes=1 --ntasks-per-node=1 --time=00:20:00 --mem=20gb "
        cpus = 12
    }
    
    withLabel : 'ben' {
        executor = 'slurm'
        container = 'smrnaseq_latest.sif'
        clusterOptions = "--account=PCON0160 --nodes=1 --ntasks-per-node=1 --time=00:20:00 --mem=64gb "
        cpus = 12
    }

    withLabel : 'medium' {
        executor = 'slurm'
        container = 'smrnaseq_latest.sif'
        clusterOptions = "--account=PCON0160 --nodes=1 --ntasks-per-node=1 --time=01:00:00 --mem=32gb "
        cpus = 16
    }

    withLabel : 'high' {
        executor = 'slurm'
        container = 'smrnaseq_latest.sif'
        clusterOptions = "--account=PCON0160 --nodes=1 --ntasks-per-node=1 --time=01:30:00 --mem=64gb "
        cpus = 20
    }

    withLabel: 'local' {
        executor = 'local'
        container = 'smrnaseq_latest.sif'
    }
    
}